
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #BAC6D9;
    --primary-color: #2E7BE0;
    --secondary-color: #69DB90;
    --tertiary-color: #1F4F5C;
    --background-color2: #109BE8;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    
}

header {
    
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
   
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none; 
  }

header nav ul li a {
     text-decoration: none; 
     padding: 10px 15px;
     font-weight: lighter;
     font-size: 1.55vw;
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
}